{{#partial "content"}}

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{path "/admin/settings"}}" class="list-group-item {{#inController "settings"}}active{{/inController}}">{{i18n "linch.settings"}}</a>
            <a href="{{path "/admin/users"}}" class="list-group-item {{#inController "users"}}active{{/inController}}">{{i18n "linch.users"}}</a>
            <a href="{{path "/admin/groups"}}" class="list-group-item {{#inController "groups"}}active{{/inController}}">{{i18n "linch.groups"}}</a>
            <a href="{{path "/admin/apps"}}" class="list-group-item {{#inController "apps"}}active{{/inController}}">{{i18n "linch.apps"}}</a>
        </div>
    </div>
    <div class="col-md-9">
        {{#block "inner"}}{{/block}}
    </div>
</div>


{{/partial}}

{{>_base}}