{{#partial "content"}}

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{path "/admin/settings"}}" class="list-group-item {{#navSettings}}active{{/navSettings}}">{{i18n "linch.settings"}}</a>
            <a href="{{path "/admin/users"}}" class="list-group-item {{#navUsers}}active{{/navUsers}}">{{i18n "linch.users"}}</a>
            <a href="{{path "/admin/groups"}}" class="list-group-item {{#navGroups}}active{{/navGroups}}">{{i18n "linch.groups"}}</a>
            <a href="{{path "/admin/apps"}}" class="list-group-item {{#navApps}}active{{/navApps}}">{{i18n "linch.apps"}}</a>
        </div>
    </div>
    <div class="col-md-9">
        {{#block "inner"}}{{/block}}
    </div>
</div>


{{/partial}}

{{>base}}