{{>_partials/fields}}

{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.profile.change.password"}}</h1>

<form class="form-horizontal" role="form" action="{{path "doChangePassword"}}" method="post">
    {{#success}}
        <div class="alert alert-success">{{i18n "linch.profile.password.changed"}}</div>
    {{/success}}
    {{^success}}

        {{{block "passwordField" name="currentPassword" value=data.values.currentPassword error=data.errors.currentPassword i18nKey="linch.profile.current.password" required=true}}}
        {{{block "passwordField" name="newPassword" value=data.values.newPassword error=data.errors.newPassword i18nKey="linch.profile.new.password" required=true}}}
        {{{block "passwordField" name="confirmNewPassword" value=data.values.confirmNewPassword error=data.errors.confirmNewPassword i18nKey="linch.profile.confirm.new.password" required=true}}}

        {{#block "buttonsField"}}
            <input class="btn btn-primary" type="submit" name="submit" value="{{i18n "linch.form.save"}}">
        {{/block}}

    {{/success}}
</form>

{{/partial}}

{{>profile/_base}}