{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.profile.change.password"}}</h1>

<form class="form-horizontal" role="form" action="{{path "doChangePassword"}}" method="post">
    {{#success}}
        <div class="alert alert-success">{{i18n "linch.profile.password.changed"}}</div>
    {{/success}}
    {{^success}}
        <div class="form-group {{#form.currentPassword.error}}has-error{{/form.currentPassword.error}}">
            <label for="currentPassword" class="col-sm-3 control-label">{{i18n "linch.profile.current.password"}}</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" value="{{form.currentPassword}}" required>
                {{#form.currentPassword.error}}<span class="help-block">{{.}}</span>{{/form.currentPassword.error}}
            </div>
        </div>
        <div class="form-group {{#form.newPassword.error}}has-error{{/form.newPassword.error}}">
            <label for="newPassword" class="col-sm-3 control-label">{{i18n "linch.profile.new.password"}}</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="newPassword" name="newPassword" value="{{form.newPassword}}" required>
                {{#form.newPassword.error}}<span class="help-block">{{.}}</span>{{/form.newPassword.error}}
            </div>
        </div>
        <div class="form-group {{#form.confirmNewPassword.error}}has-error{{/form.confirmNewPassword.error}}">
            <label for="confirmNewPassword" class="col-sm-3 control-label">{{i18n "linch.profile.confirm.new.password"}}</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" value="{{form.confirmNewPassword}}" required>
                {{#form.confirmNewPassword.error}}<span class="help-block">{{.}}</span>{{/form.confirmNewPassword.error}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <input class="btn btn-primary" type="submit" name="submit" value="{{i18n "linch.form.save"}}">
            </div>
        </div>
    {{/success}}
</form>

{{/partial}}

{{>profile/super}}