{{#include "_partials/fields"}}{{/include}}

{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.form.edit"}}</h1>

<form class="form-horizontal" role="form" action="{{path "doEdit"}}" method="post">

    {{#block "readonlyField" name="username" value=user.username i18nKey="linch.user.username"}}{{/block}}
    {{#block "inputField" name="firstName" value=form.firstName error=form.firstName.error i18nKey="linch.user.first.name"}}{{/block}}
    {{#block "inputField" name="lastName" value=form.lastName error=form.lastName.error i18nKey="linch.user.last.name"}}{{/block}}
    {{#block "inputField" name="email" value=form.email error=form.email.error i18nKey="linch.user.email"}}{{/block}}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <input class="btn btn-primary" type="submit" name="submit" value="{{i18n "linch.form.save"}}">
            <a class="btn btn-default" href="{{path "index"}}">{{i18n "linch.form.cancel"}}</a>
        </div>
    </div>
</form>

{{/partial}}

{{>profile/_base}}