{{>_partials/fields}}

{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.groups.add.member"}}: {{group.groupname}}</h1>


<form class="form-horizontal" role="form" action="{{path "doAddMember"}}" method="post">

    {{{block "hiddenField" name="groupname" value=group.groupname}}}
    {{{block "textField" name="username" value=data.values.username error=data.errors.username i18nKey="linch.user.username" required=true}}}

    {{#block "buttonsField"}}
        <input class="btn btn-primary" type="submit" name="submit" value="{{i18n "linch.form.save"}}">
        <a class="btn btn-default" href="{{path "index"}}">{{i18n "linch.form.cancel"}}</a>
    {{/block}}

</form>

{{/partial}}

{{>admin/_base}}