{{#include "_partials/fields"}}{{/include}}

{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.groups.add.group"}}</h1>


<form class="form-horizontal" role="form" action="{{path "doCreate"}}" method="post">

    {{{block "inputField" name="groupname" value=form.groupname error=form.groupname.error i18nKey="linch.group.groupname"}}}

    {{#block "buttonsField"}}
        <input class="btn btn-primary" type="submit" name="submit" value="{{i18n "linch.form.save"}}">
        <a class="btn btn-default" href="{{path "index"}}">{{i18n "linch.form.cancel"}}</a>
    {{/block}}

</form>

{{/partial}}

{{>admin/_base}}                                                              -