{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.groups"}}</h1>

<table class="table">
    <thead>
    <tr>
        <th>{{i18n "linch.group.groupname"}}</th>
    </tr>
    </thead>
    <tbody>
    {{#groups}}
        <tr>
            <td><a href="{{path "view" groupname=groupname}}">{{groupname}}</a></td>
        </tr>
    {{/groups}}
    {{^groups}}
        <tr>
            <td colspan="4">{{i18n "linch.groups.no.groups"}}</td>
        </tr>
    {{/groups}}
    </tbody>
</table>

<a href="{{path "create"}}">{{i18n "linch.groups.add.group"}}</a>

{{/partial}}

{{>admin/_base}}