{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.users.delete.user"}}: {{theUser.username}}</h1>

<form class="form-horizontal" role="form" action="{{path "doDelete"}}" method="post">
    <input type="hidden" name="username" value="{{theUser.username}}">

    <div class="alert alert-danger">
        {{i18n "linch.users.delete.are.you.sure"}}
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <input class="btn btn-danger" type="submit" name="submit" value="{{i18n "linch.form.delete"}}">
            <a class="btn btn-default" href="{{path "view" username=theUser.username}}">{{i18n "linch.form.cancel"}}</a>
        </div>
    </div>
</form>

{{/partial}}

{{>admin/_base}}