{{#include "_partials/fields"}}{{/include}}

{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.users.edit.user"}}: {{form.username}}</h1>

<form class="form-horizontal" role="form" action="{{path "doEdit"}}" method="post">

    {{{block "hiddenField" name="username" value=form.username}}}
    {{{block "readonlyField" name="username" value=form.username i18nKey="linch.user.username"}}}
    {{{block "inputField" name="firstName" value=form.firstName error=form.firstName.error i18nKey="linch.user.first.name"}}}
    {{{block "inputField" name="lastName" value=form.lastName error=form.lastName.error i18nKey="linch.user.last.name"}}}
    {{{block "inputField" name="email" value=form.email error=form.email.error i18nKey="linch.user.email"}}}

    {{#block "buttonsField"}}
        <input class="btn btn-primary" type="submit" name="submit" value="{{i18n "linch.form.save"}}">
        <a class="btn btn-default" href="{{path "view" username=form.username}}">{{i18n "linch.form.cancel"}}</a>
    {{/block}}

</form>

{{/partial}}

{{>admin/_base}}