{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.users.view.user"}}: {{theUser.username}}</h1>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{i18n "linch.user.username"}}</label>
        <div class="col-sm-5">
            <p class="form-control-static">{{theUser.username}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{i18n "linch.user.first.name"}}</label>
        <div class="col-sm-5">
            <p class="form-control-static">{{theUser.firstName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{i18n "linch.user.last.name"}}</label>
        <div class="col-sm-5">
            <p class="form-control-static">{{theUser.lastName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{i18n "linch.user.email"}}</label>
        <div class="col-sm-5">
            <p class="form-control-static">{{theUser.email}}</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <a href="{{path "edit" username=theUser.username}}" class="btn btn-default">{{i18n "linch.form.edit"}}</a>
            <a href="{{path "delete" username=theUser.username}}" class="btn btn-danger">{{i18n "linch.form.delete"}}</a>
        </div>
    </div>
</form>

{{/partial}}

{{>admin/_base}}